main {
    color: white;
    align-items: center;
    justify-content: center;
}

#accueil_1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.767)), url('../images/font_main_page.jpg');
    background-size: cover;
    background-position: center;
}

#accueil_2, #accueil_3 {
    background-color: #000;
    width: 100%;
}

h1 {
    font-family: "Lancelot", sans-serif;
    font-size: 80px;
    font-weight: normal;
}