* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
    background-size: cover;
    
    background-image: url('../images/fondpartenaires.jpg');

}

main {
  text-align: center;
  font-family: 'Lancelot', sans-serif;
}


.partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1rem;

}

.partner-card {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 280px;
  transition: transform 0.3s ease;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.partner-card h2 {
    color: #ffffff;
}

.partner-card p {
  color: white;
}

.partner-card:hover {
  transform: scale(1.05);
}

.partner-logo {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}