main .container {
    max-width: 1200px;
    margin: 0 10% 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.filtres {
    background: #e6cfad;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.filtres form a {
    color: black;
}
.filtre-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.filtres form > :nth-child(2), .filtres form > :first-child, .filtres form > :nth-child(3) {
    flex-direction: row;
    display: flex;
    gap: 8px;
    width: 100%;
}
.filtres form > :nth-child(3) {
    align-items: center;
    justify-content: center;
}
main label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
main select, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
main button {
    background-color: #2a6496;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
main button:hover {
    background-color: #1d4f7a;
}
.produits-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}
.produit-card {
    background: linear-gradient(#69362D, #69362d6f);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 5px;
}
.produit-card:hover {
    transform: translateY(-5px);
}
.produit-image {
    width: fit-content;
    height: 250px;
}
.produit-info {
    padding: 15px;
    width: 100%;
}
.produit-nom {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #fff;
}
.produit-prix {
    font-size: 16px;
    font-weight: bold;
    color: #ffc6a0;
}
.produit-categorie {
    font-size: 14px;
    color: #dadada;
}
.produit-detail .produit-prix {
    font-size: 26px;
    font-weight: bold;
    color: #2c5557;
}
.produit-detail .produit-categorie {
    font-size: 14px;
    color: #7a3f3f;
}
main a {
    text-decoration: none;
}
main h1 {
    text-align: center;
    color: #fff;
    margin: 30px 0;
}
.produit-detail {
    background-color: #e6cfad;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.produit-detail h1 {
    color: black;
    font-family: "Lancelot", sans-serif;
    font-size: 60px;
    margin: 10px 0 0;
}
.produit-detail-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px;
}
.produit-detail-content {
    display: flex;
    flex-direction: row;
    margin: 0 60px;
    gap: 60px;
}
#produit-detail-info {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 70px 0 0;
}
.back-link {
    display: inline-block;
    margin: 20px 0;
    color: #153c5f;
    text-decoration: none;
    padding: 10px;
    background-color: #e6cfad;
    border-radius: 8px;
}
.back-link:hover {
    text-decoration: underline;
}
.recherche-principale {
    align-items: baseline;
    margin-bottom: 15px;
}